<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="quote">
		<div class="box box1">
			<p>A response that represents an error or failure, 
			either from a non-successful HTTP status,
			an error while executing the request, 
			or some other failure which occurred during the parsing of the response.
			</p>
			<h2>Someone Famous</h2>
		</div>
		<div class="bg"></div>
		<div class="box box2">
			<p>A response that represents an error or failure, 
			either from a non-successful HTTP status,
			an error while executing the request, 
			or some other failure which occurred during the parsing of the response.
			</p>
			<h2>Someone Famous</h2>
		</div>
		<div class="bg"></div>
		<div class="box box3">
			<p>A response that represents an error or failure, 
			either from a non-successful HTTP status,
			an error while executing the request, 
			or some other failure which occurred during the parsing of the response.
			</p>
			<h2>Someone Famous</h2>
		</div>
		<div class="bg"></div>
	</div>
</body>
</html>