<!-- <h4 class="display-4">Book a Table</h4>
<hr> -->
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <!-- #form="ngForm"  (submit)="onSubmit(form)" -->
      <form [formGroup]="firstFormGroup"> 
        <ng-template matStepLabel>Book a Table</ng-template>
        <div style="visibility: hidden;">Hi!M</div>
        <!-- <mat-form-field>
          <input matInput placeholder="Number of persons" formControlName="firstCtrl" required>
        </mat-form-field> -->
        
              <mat-form-field>
                  <mat-label>Number of Person</mat-label>
                  <mat-select  formControlName="firstCtrl" > 
                    <mat-option required *ngFor="let item of tableService.elements" value="{{item.capacity}}" >{{item.capacity}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
         
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" min="{{limitDate}}" placeholder="Choose a date"    formControlName="firstCtrl" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <span style="visibility: hidden;">Hi!M</span>
        </div>
        <div>
            <mat-form-field>
                <input matInput type="time" min="today.StartTime" max="today.EndTime"    formControlName="firstCtrl" required>
              </mat-form-field>
        </div>
        <div>
          <!-- <div *ngIF="isEmpty"></div> -->
          <button  mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Guidance</ng-template>
        <div style="visibility: hidden;">Hi!M</div>
        <div>
          <h5>Hey!</h5>
          <p>
            welcome your reservation is under waiting , you can go to the menu and choose your food and complete the payment,
            or the process can be delayed until you reach the restaurant.
            have a good one.
          </p>
        </div>
        
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div style="visibility: hidden;">Hi!M</div>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <button  type="submit" class="btn btn-blue" ><i class="fa fa-database"></i> Submit</button>
  <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fas fa-times"></i> Close</button>
