<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Menu food</h1>
		<hr>

		<div class="row">
			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="assets/images/1.jpg" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Fish Soup</h5>
				<h5 class="text-center">Price: $15.00</h5>
				<a href="#" class="btn buy">Add to the Order</a>
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="assets/images/2.jpg" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Pizza</h5>
				<h5 class="text-center">Price: $10.00</h5>
				<a href="#" class="btn buy">Add To The Order</a>
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="assets/images/3.jpg" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Cabbage Salat</h5>
				<h5 class="text-center">Price: $15.00</h5>
				<a href="#" class="btn buy">Add To The Order</a>
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="assets/images/4.jpg" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Soup with bacon</h5>
				<h5 class="text-center">Price: $11.00</h5>
				<a href="#" class="btn buy">Add To The Order</a>
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="assets/images/5.jpg" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Savarian steak</h5>
				<h5 class="text-center">Price: $15.00</h5>
				<a href="#" class="btn buy">Add To The Order</a>
			</div>
			<!-- ./Product -->

			<!-- Product  -->
			<div class="col-md-4 product-grid">
				<div class="image">
					<a href="#">
						<img src="assets/images/6.jpg" class="w-100">
						<div class="overlay">
							<div class="detail">View Details</div>
						</div>
					</a>
				</div>
				<h5 class="text-center">Potato soup</h5>
				<h5 class="text-center">Price: $7.00</h5>
				<a href="#" class="btn buy">Add To The Order</a>
			</div>
			<!-- ./Product -->

		</div>

	</div>
</body>
</html>