<!--<html data-theme="light">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<body>-->
  <div class="profile-container">
    <div class="profile-content">
      <div class="actions">
        <i class="fa fa-cog"></i>
        <i class="fa fa-bell"></i>
      </div>
      <div class="pic">
        <img src="https://pixeltime.ro/profile.jpg" alt="">
        <h2>{{profileInfo.name}}</h2>
        <!-- <span>UI/UX Designer &  Developer</span> -->
        <span>Write Something & Nothing</span>
      </div>
      <div class="summary">
        <div class="content">
          <span>233</span>
          <span>Ordring Food</span>
        </div>
        <div class="content">
          <span>349</span>
          <span>Recipes</span>
        </div>
      </div>
      <div class="profile-details">
        <ul>
          <li><i class="fa fa-images"></i>Shots <span>35</span></li>
          <li><i class="fa fa-heart"></i>Likes <span>236</span></li>
          <li><i class="fa fa-video"></i>Videos <span>26</span></li>
          <li><i class="fa fa-tags"></i>Tags <span>100</span></li>
        </ul>
      </div>
    </div>

</div>
<!--
</body>
</html>-->
