.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
    }
    .modal-notify .modal-content {
    border-radius: 3px;
    }
// .btn-book-center{
//     position: absolute;
//     margin-top: 20%;
//     margin-left: 44%;

//     //margin: 15% 40%;
// }   
.container
{
    margin-top: 5%;
    margin-left: 8%;
    position: absolute;
}

h1
{
font-family: Quicksand;
color: black;

}