<!--The content below is only a placeholder and can be replaced.-->
<!-- <table mdbTable>
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of elements">
      <th scope="row">{{el.id}}</th>
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
    </tr>
  </tbody>
</table> -->



<app-navbar></app-navbar>
<!-- <h1>Welcome to our Restaurant</h1>
<div id="bg"></div> -->
<div class="bg">
</div>
<router-outlet></router-outlet>
<router-outlet name="outlet1"></router-outlet>


