<!--<div class="mt-4 col-8 offset-2" id="login">
  <div class="card">
    <div class="card-header text-center">Login Here</div>
    <div class="card-body">
        <form #loginForm=ngForm (ngSubmit)="onSubmit()">
            <div class="alert alert-danger" [hidden]="!error">
              {{error}}
            </div>
          <div class="form-group row">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10 offset-2">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
                <a  routerLink="/signup" class="btn btn-info float-right">Sign up</a>
              </div>
            </div>
          </form>
    </div>
  </div>
</div>-->
<div class="container">
<mdb-card>

  <mdb-card-header class="info-color white-text text-center py-4">
    <h5>
      <strong>Sign in</strong>
    </h5>
  </mdb-card-header>


  <!--Card content-->
  <mdb-card-body class="px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;"  #loginForm=ngForm (ngSubmit)="onSubmit()">

      <!-- Email -->
      <div class="md-form">
        <input type="email" id="materialLoginFormEmail" name="email" class="form-control" [(ngModel)]="form.email" mdbInput>
        <label for="materialLoginFormEmail">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" name="password" class="form-control" [(ngModel)]="form.password" mdbInput>
        <label for="materialLoginFormPassword">Password</label>
      </div>

     

      <!-- Sign in button -->
      <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
        type="submit" [disabled]="!loginForm.valid">Sign in</button>

      <!-- Register -->
      <p>Not a member?
        <a routerLink="/signup">Register</a>
      </p>

      

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form login -->

</div>
