<html data-theme="light">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<body>
  <div class="profile-container">
    <div class="profile-content">
      <table class="table table-borderless">
        <thead class="thead-light">
          <th>id</th>
          <th>name</th>
          <th>Date</th>
          <th>State</th>
          <th>
            <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,service.formData.OrderID)"><i class="fa fa-plus"></i> Add Item</a>
          </th>
        </thead>
        <tbody>
          <tr *ngIf="elements.length==0">
            <td class="font-italic text-center" colspan="5">
              There is no reservation.
            </td>
          </tr>
    
          <tr>
            <td>{{elements.id}}</td>
            <td>{{elements.name}}</td>
            <td>{{elements.dateRes}}</td>
            <td>{{elements.state}}</td>
            <td>
              <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(elements.id)"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
      </div>
    
    </div>

</div>
</body>
</html>