@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html{
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
}
html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
}
body{
    background-color: linear-gradient(to right, #003e6e 80%, #056cc6 100%);
    font-family: 'Open Sans', sans-serif !important;
}
.profile-container{
    //width: 485px;
    width: 100%;
    height: 100%;
    //margin: 0 auto;
    //margin-top: 200px;
    .profile-menu
    {
        float: left;
        width: 15%;
        height: 100%;
        //background: #fff;
        background-color: var(--bg);
        box-shadow: 0 0 25px rgba(#000, 0.2);
        
    }
    .profile-content{
        width: 85%;
        height: 100vh;
        float: right;
        padding:100px 100px 100px 100px;
        background: #fff;
        // background-color: var(--bg-panel);
        box-shadow: 0 0 25px rgba(#000, 0.2);
    }
}