/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



body,
html 
{
 height: 100%;
}

body{
    height: 100%;
   width: 100%;
   background:linear-gradient(rgba(84, 90, 117, 0.5), rgba(134, 134, 134, 0.5)),url("assets/6.jpg");
   //background-image: url("assets/1.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   position: absolute;
}

input{
    background-color: #312d3c;
}

 .nav-item  a::before a:focus .nav-link{ 
    background-image: linear-gradient(to left,#ff8a00,#da1b60);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
.nav-link {
    border-left: 1px solid #201c29; 
    border-right: 1px solid #201c29;
}
.nav-link:focus{
    border-top: 5px solid #da1b60;
}
